# Игнорировать файлы, созданные во время работы Python
*.pyc
__pycache__/

# Игнорировать виртуальное окружение
venv/
env/
*.env

# Игнорировать файлы логов
*.log

# Игнорировать файлы базы данных SQLite
*.sqlite3
*.sqlite3-journal

# Игнорировать среду разработки PyCharm
.idea/

# Игнорировать настройки Visual Studio Code
.vscode/

# Игнорировать файлы миграций Django
**/migrations/

# Игнорировать статические файлы
/staticfiles/

# Игнорировать файлы media
/media/

# Игнорировать файлы конфигурации
*.ini
*.env

# Игнорировать файлы настроек локальной среды
.env.local
