<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer">
</head>
<body>
    <div style="background-color: #212529; color: white; margin: 0 auto; height:200px; " class="container15">
    <footer class="py-3 my-4">
        <ul style="color: white" class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="{% url 'home' %}" style="color: white;" class="nav-link px-2">Главная</a></li>
            <li class="nav-item"><a href="{% url 'money' %}" style="color: white;" class="nav-link px-2">Деньги</a></li>
            <li class="nav-item"><a href="{% url 'blockchain' %}" style="color: white;" class="nav-link px-2 ">Блокчейн</a></li>
            <li class="nav-item"><a href="{% url 'defi' %}" style="color: white;" class="nav-link px-2">Defi</a></li>
            <li class="nav-item"><a href="{% url 'exchanges' %}" style="color: white;" class="nav-link px-2">Обмены</a></li>
            <li class="nav-item"><a href="{% url 'coins' %}" style="color: white;" class="nav-link px-2">Монеты</a></li>
            <li class="nav-item"><a href="{% url 'solidity' %}" style="color: white;" class="nav-link px-2">Solidity</a></li>
        </ul>
        <p style="color: white;" class="text-center">© 2024 Company, Inc</p>
    </footer>
</div>

</body>
</html>
